<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main page</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper container">
                <a href="#" class="brand-logo">Board</a>
                <ul id="nav-mobile" class="right">
                    <li>
                        <form action="/logout" method="post">
                            <input type="hidden" name="_csrf" value="{{ _csrf.token}}" />
                            <input class="btn" type="submit" value="Sign Out">
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        <h1></h1>
        <section class="row">
            <h2></h2>
            <form method="post">
                <div class="form-group row">
                    <input type="text" name="text" class="form-control col s11" id="messageInput" placeholder="Enter your message...">
                    <button class="waves-effect waves-light btn col s1" type="submit"><i class="material-icons">send</i></button>
                </div>
                <div class="form-group row">
                    <input type="text" name="tag" class="form-control col s12" id="tagInput" placeholder="Enter your tag...">
                </div>
                <input type="hidden" name="_csrf" value="{{ _csrf.token}}" />
            </form>
        </section>
        <section class="row">
            <h2></h2>
            <form method="post" action="filter">
                <div class="form-group row">
                    <input type="text" name="filter" class="form-control  col s11" id="filterInput" placeholder="Enter your search request...">
                    <button class="waves-effect waves-light btn col s1" type="submit"><i class="material-icons">search</i></button>
                </div>
                <input type="hidden" name="_csrf" value="{{ _csrf.token}}" />
            </form>
        </section>
        <section class="row">
            <h2>Messages</h2>
            {{#messages}}
                <div class="col s12 m12 l6">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">{{id}}</span>
                            <p>{{text}}</p>
                        </div>
                        <div class="card-action">
                            <p>{{tag}}</p>
                            <p><i>{{authorName}}</i></p>
                        </div>
                    </div>
                </div>
            {{/messages}}
        </section>
    </main>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>