<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Main page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <main class="container">
        <h1></h1>
        <form action="/logout" method="post">
            <input type="hidden" name="_csrf" value="{{ _csrf.token}}" />
            <input class="btn btn-outline-danger" type="submit" value="Sing Out">
        </form>
        <h2>Messages</h2>
        <form method="post">
            <div class="form-group">
                <label for="messageInput">Message text</label>
                <input type="text" name="text" class="form-control" id="messageInput" placeholder="Enter your message...">
            </div>
            <div class="form-group">
                <label for="tagInput">Message's tag</label>
                <input type="text" name="tag" class="form-control" id="tagInput" placeholder="Enter your tag...">
            </div>
            <input type="hidden" name="_csrf" value="{{ _csrf.token}}" />
            <button class="btn btn-primary" type="submit">Send</button>
        </form>
        <h2>Filter</h2>
        <form method="post" action="filter">
            <div class="form-group">
                <label for="filterInput">Search tag name</label>
                <input type="text" name="filter" class="form-control" id="filterInput" placeholder="Enter your search request...">
            </div>
            <input type="hidden" name="_csrf" value="{{ _csrf.token}}" />
            <button class="btn btn-primary" type="submit">Find</button>
        </form>
        <h2>Messages</h2>
        {{#messages}}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{id}}</h5>
                    <p class="card-text">{{text}}</p>
                    <blockquote class="blockquote mb-0">
                        <footer class="blockquote-footer"><cite title="{{tag}}">{{tag}}</cite></footer>
                    </blockquote>
                </div>
            </div>
        {{/messages}}
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>